* {
  padding: 0;
  margin: 0;
  font-family: 'Silkscreen', cursive;
}

body {
  background-color: rgb(92, 92, 92);
}

#myCanvas {
  padding: 200px;
}

#canHitSelf {
  position: absolute;
  top: 300px;
  left: 750px;
  height: 20px;
  width: 20px;
}

#walls {
  position: absolute;
  top: 350px;
  left: 750px;
  height: 20px;
  width: 20px;
}

.winOrLose > * {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 500px;
  text-align: center;
}

#loseMessage {
  color: rgb(255, 0, 0);
}

#winMessage {
  color: rgb(0, 255, 0);
}

.explination > * {
  position: absolute;
  top: 300px;
  left: 800px;
  height: 20px;
  color: rgb(255, 255, 255);
}

.explination :nth-child(2) {
  top: 350px;
}

.explination :last-child {
  top: 400px;
  left: 830px; 
}

.score > * {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
}

#uScore {
  top: 330px;
}

.prompts {
  position: absolute;
  width: 500px;
  top: 650px;
  left: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.title {
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 100px;
  color:rgb(255, 255, 255);
}

.headJPG {
  visibility: hidden;
}
#rangeinput {
  position: absolute;
  align-self: center;
  height: 20px;
  width: 50px;
  top: 400px;
  left: 750px;
}