* {
  padding: 0;
  margin: 0;
  font-family: 'Silkscreen', cursive;
  color: white;
}

body {
  background-color: rgb(92, 92, 92);
}

#title {
  text-align: center;
  font-size: 8rem;
  padding: auto;
}

.winOrLoose {
  text-align: center;
  font-size: 3rem;
  padding: auto;
  min-height: 5rem;
  width: 100%;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

#centerer {
  width: 100%;
  display: grid;
  justify-content: center;

}

#main-content {
  display: grid;
  grid-template-columns: 200px 600px 400px;
  align-items: center;
}

img {
  visibility: hidden;
  height: 0;
}

#main-content #score {
  display: flex;
}

#main-content #score:nth-child(1) {
  padding-left: 3rem;
}

#main-content #game {
  width: 100%;
  display: grid;
  justify-content: center;
}

#main-content #game canvas {
  width: 100%;
}

#main-content #game .prompts {
  text-align: center;
  min-height: 3rem;
  padding: auto;
}

#main-content #options {
  width: 100%;
}

#options .explanation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 1rem;
}